.customize {
    margin-block: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

.titles h1 {
    font-size: 2.5em;
    font-weight: 400;
    /* padding: 10px; */
    text-align: center;
    text-transform: uppercase;
}

.titles h4 {
    font-size: 1.2em;
    font-weight: 350;
    margin-bottom: 3%;
    padding: 10px;
    text-align: center;
}

.CustomizeInnerImage {
    background-color: #C2EDED;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.CustomizeInnerImage img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    align-self: center;
    margin-top: 45px;
}

.CustomizeItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 300px;
    align-items: center;
}

.otherHalf {
    background-color: #E0D2F5;
    height: 30px;
    width: 400px;
    margin-top: -16px;
}

.otherHalf p {
    font-size: 1em;
    font-weight: 400;
    /* padding: 5px; */
    text-align: center;
    margin-top: 5px;
}

/* Right Side */

.CustomizeOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px;
}

.BackGroundRectangle {
    height: 50px;
    width: 42vw;
    background-color: #fff;
    border: 1.5px solid black;
    border-radius: 20px;
}

.crust {
    margin: 0 auto;
}


.crust h5 {
    font-size: 1em;
    font-weight: 450;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #7F7F7F;
    position: absolute;
    margin-top: -15px;
    background-color: #fff;
    z-index: 10;
    /* right: 450px; */
    transform: translate(17vw,-5%);
    
}

.crustOptions {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    z-index: 10;
    position: absolute;
    margin-top: -30px;
    transform: translate(0,-5%);
}

.crustOptions button {
    background-color: #E0D2F5;
    font-weight: 525;
    border-radius: 15px;
    width: 13vw;
    height: 60px;
}

.flavor {
    margin: 0 auto;
    margin-top: 55px;
}

.flavor h5 {
    font-size: 1em;
    font-weight: 450;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #7F7F7F;
    position: absolute;
    margin-top: -15px;
    background-color: #fff;
    z-index: 10;
    /* right: 450px; */
    transform: translate(17vw,-5%);
}

.flavorOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    z-index: 10;
    position: absolute;
    margin-top: -192px;
    transform: translate(-5.5%,0%);
}

.flavorOptions button {
    background-color: #E0D2F5;
    font-weight: 525;
    border-radius: 15px;
    width: 13vw;
    height: 60px;
    margin: 5px 2px;
}

.topping {
    margin: 0 auto;
    margin-top: 55px;
}

.topping h5 {
    font-size: 1em;
    font-weight: 450;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #7F7F7F;
    position: absolute;
    margin-top: -15px;
    background-color: #fff;
    z-index: 10;
    /* right: 450px; */
    transform: translate(17vw,-5%);
}

.toppingOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    z-index: 10;
    position: absolute;
    margin-top: -192px;
    transform: translate(-5.5%,0%);
}

.toppingOptions button {
    background-color: #E0D2F5;
    font-weight: 525;
    border-radius: 15px;
    width: 13vw;
    height: 60px;
    margin: 5px 2px;
}


.secondHalf button {
    margin-top: 50px;
    background-color: #C2EDED;
    font-weight: 500;
    border-radius: 15px;
    text-transform: none;
    font-size: 22px;
    justify-self: center;
    width: 25vw;
    height: 60px;
    transform: translate(30% ,0);
}

.secondHalf button:hover {
    opacity: 0.8;
    background-color: #C2EDED;
}