.customize {
    margin-block: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

.titles h1 {
    font-size: 2.5em;
    font-weight: 400;
    /* padding: 10px; */
    text-align: center;
    text-transform: uppercase;
}

.titles h4 {
    font-size: 1.2em;
    font-weight: 350;
    margin-bottom: 3%;
    padding: 10px;
    text-align: center;
}

.CustomizeInnerImage {
    background-color: #C2EDED;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.CustomizeInnerImage img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    align-self: center;
    margin-top: 45px;
}

.CustomizeItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 300px;
    align-items: center;
}

.otherHalf {
    background-color: #E0D2F5;
    height: 30px;
    width: 400px;
    margin-left: 80px;
    margin-top: -16px;
    position: static;
    /* you want me to add display: flex; here but nothing happens lol*/
}

.otherHalf p {
    font-size: 1em;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}