@import url("https://fonts.cdnfonts.com/css/keira-serif-free");
@import url("https://fonts.cdnfonts.com/css/love-letters");
@import url("https://fonts.cdnfonts.com/css/gotham");

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.leftside {
  margin: 20px;
}

.rightside {
  margin: 20px;
}

.title2 {
  text-align: left;
  font-size: 38px;
  font-family: "Keira Serif Free", sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
  /* margin-left: 10px; */
}
.cout {
  font-family: "LoveLetters", sans-serif;
  font-size: 20px;
  /* margin-left: 10px; */
  margin-bottom: 15px;
}
.messagebox {
  width: 90%;
  height: 120px;
  font-family: "Gotham", sans-serif;
}
.inputbox {
  border-width: 2px;
  font-family: "Gotham", sans-serif;
  margin: 5px;
  text-indent: 20px;
  border-radius: 15px;
}
.namebox {
  width: 43.2%;
  height: 40px;
}

.emailbox {
  width: 90%;
  height: 40px;
}

.Line {
  width: 74.5px;
  /* margin-left: 23px; */
  /* margin-top: 5px; */
  margin-bottom: 25px;
  height: 3px;
  background-color: black;
}

.map {
  border: 0;
  height: 450px;
}
