.navbar {
    height: 150px;
    width: 100%;
    background-color: #E0D2F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
}

.logo {
    padding-block: 25px;
}

.NavRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.navRoutes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}