/* Hero Section */

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.InnerHeroDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 95%;
  background-color: #e0d2f5;
}

.InnerHeroDiv img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  border-radius: 69px;
}

.HeroInner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hero-Title {
  color: white;
  font-size: 120px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 120px;
  z-index: 1;
  width: max-content;
  padding: 10px;
  margin-left: 10px;
  font-family: "Raphtalia", sans-serif;
}

/* Make title responsive to all screen sizes */
@media screen and (max-width: 1200px) {
  .Hero-Title {
    font-size: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .Hero-Title {
    font-size: 70px;
  }
}

@media screen and (max-width: 800px) {
  .Hero-Title {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .Hero-Title {
    font-size: 40px;
  }
}

.Hero-SubTitle {
  z-index: 1;
  font-size: 25px;
  margin-right: 3%;
  font-weight: bold;
  padding: 10px;
  font-family: "poppins" sans-serif;
}

.HeroButton {
  background-color: #fbe6a8;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 28px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "poppins" sans-serif;
}

/* Meet the Baker */

.MeetTheBaker {
  height: 90vh;
  width: 100%;
  background-color: #c2eded;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.BakerImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: -10%;
}

.ImageContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  overflow: hidden;
}

.BakerImage img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.YellowBackground {
  position: absolute;
  z-index: 0;
  width: 75%;
  border-radius: 60px 60px 0 0;
  height: 75%;
  background-color: #fbe6a8;
  /* Align it behind the baker */
  bottom: 0;
  right: 0;
}

.BakerInner {
  /* padding-inline: 70px; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BakerButton {
  margin-top: 60px;
  background-color: #e0d2f5;
  color: black;
  font-size: 18px;
  font-weight: normal;
  border-radius: 28px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 300px;
  text-transform: uppercase;
  font-family: "poppins" sans-serif;
}

.Baker-Title {
  color: #3b3b3b;
  font-size: 65px;
  text-align: left;
  display: flex;
  font-weight: 400;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 5px;
  font-family: "Keira Serif Free", sans-serif;
}

.BlackLine {
  width: 115px;
  height: 3px;
  background-color: black;
  margin-bottom: 70px;
}

.Baker-Des {
  color: black;
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
  display: flex;
  margin-bottom: 5%;
  width: 75%;
  font-family: "poppins" sans-serif;
}

/* Products Section */
.Productstitle {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 89%;
  padding-top: 75px;
  padding-right: 20px;
  font-size: 50px;
  margin: 0 auto;
  font-family: "Keira Serif Free", sans-serif;
  font-weight: normal;
  margin-top: 70px;
}

.ProductsLine {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 70px;
  height: 3px;
  background-color: black;
}

.title {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 89%;
  padding-top: 75px;
  padding-right: 20px;
  font: 60px;
  margin: 0 auto;
  font-family: "Keira Serif Free", sans-serif;
  font-weight: normal;
}

.Products {
  /* box-sizing: border-box; */
  /* display: block; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 75vh;
  /* width: 73%; */
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  /* margin-left: 64px;
  margin-right: 64px; */
}

.slide-content {
  justify-content: center;
  align-items: center;
}
.image-content,
.card-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content h2 {
  font-weight: normal;
  font-family: "poppins" sans-serif;
}

.image-content {
  border-radius: 40px;
}

.card-image {
  width: 270px;
  height: 350px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.card-image img {
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 350px;
  object-fit: contain;
  border-radius: 40px;
}

.card-img {
  background-color: #ffd6de;
  width: 270px;
  height: 350px;
}

.card-img2 {
  background-color: #c2eded;
  width: 270px;
  height: 350px;
}

.card-img3 {
  background-color: #d9ea87;
  width: 270px;
  height: 350px;
}

.card-img4 {
  background-color: #eaf5b0;
  width: 270px;
  height: 350px;
}

.card-img5 {
  background-color: #fcf7c7;
  width: 270px;
  height: 350px;
}

.card-img6 {
  background-color: #d1eeef;
  width: 270px;
  height: 350px;
}

.card-img7 {
  background-color: #ffd6de;
}

.card {
  border-radius: 40px;
}

/* Product cards */

/* End of Products Section */

@media screen and (max-width: 968px) {
  .Hero-Title {
    font-size: 50px;
    margin-top: 0;
    margin-right: 0;
  }

  .Baker-Title {
    width: 100%;
    color: black;
    font-size: 50px;
  }

  .BlackLine {
    width: 118px;
    height: 4px;
    background-color: black;
    margin-bottom: 5%;
  }

  .Baker-Des {
    color: black;
    font-size: 20px;
    font-weight: 250;
  }
}

.my-bullet {
  display: none;
}

/* All Time Favorites Section Styling */

.AllTimeFav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 50px;
}

.AllTimeFav > h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 400;
  font-family: "Keira Serif Free", sans-serif;
}

.BlackLineFav {
  width: 85px;
  height: 4px;
  background-color: black;
  margin-bottom: 1%;
  /* margin-left: 620px; */
  margin-top: -1%;
  display: flex;
}

.favprodimg {
  position: relative;
  top: 0;
  left: 0;
}

.innerImage:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.eclipse {
  position: relative;
  top: 0;
  left: 0;
}

.innerImage {
  position: absolute;
  /* top: -10px; */
  left: 25%;
  height: 95%;
}

.inner3 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 85%;
  height: 85%;
}

.favprod h3 {
  font-size: 25px;
  font-weight: medium;
  margin-top: 20px;
  text-align: center;
  font-family: "Gotham", sans-serif;
}

#desc {
  font-size: 20px;
  font-weight: 250;
  text-align: center;
  font-family: "poppins" sans-serif;
}

#price {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: "poppins" sans-serif;
}

#buyNowBtn {
  background-color: #e0d2f5;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 28px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 10%;
  font-family: "poppins" sans-serif;
}

/* Create Your Own Section Styling */

.CreateYourOwn {
  height: 90vh;
  width: 100%;
  background-color: #c2eded;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.CustomImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.ImageContainer {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 75%;
  height: 100%;
  overflow: hidden;
}

.CustomImage img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CustomInner {
  padding-inline: 70px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CustomButton {
  margin-top: 60px;
  background-color: #fff9de;
  color: black;
  font-size: 17px;
  font-weight: bold;
  border-radius: 28px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: "poppins" sans-serif;
}

.Custom-Title {
  color: black;
  font-size: 55px;
  text-align: left;
  font-weight: normal;
  font-family: "Keira Serif Free", sans-serif;
}

.BlackLineCustom {
  width: 80px;
  height: 4px;
  background-color: black;
  /* margin-bottom: 2%; */
  margin-top: -5%;
  margin-left: 180px;
}

.BlackLineCelebrate {
  width: 120px;
  height: 4px;
  background-color: black;
  /* margin-bottom: 2%; */
  margin: 0 auto;
}


.Custom-Des {
  color: black;
  font-size: 35px;
  font-weight: 250;
  font-family: "Raphtalia", sans-serif;
}

/* Special Ocasions code */

.SpecialOcasions {
  width: 100%;
}

.SpecialOcasions h1 {
  font-size: 55px;
  text-align: center;
  margin-top: 100px;
  font-weight: normal;
  font-family: "Keira Serif Free", sans-serif;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item img {
  width: 25em;
  height: 25em;
  object-fit: cover;
}

.item p {
  width: 85%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  font-family: "poppins" sans-serif;
}

.BottomDiv {
  margin-top: -4%;
  margin-bottom: 100px;
}

.BottomDiv h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
  font-family: "Raphtalia", sans-serif;
}

.lastButton {
  background-color: #e0d2f5;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-top: 50px;
  font-family: "poppins" sans-serif;
}
