.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
}

.Title{
    /* font-family: 'Keira Serif Free', serif; */
    font-size: 70px;
    font-weight: 350;
    color: #000000;
    margin: 0 auto;
    margin-top: 50px;
}

.blackLine {
    width: 124.39px;
    height: 4px;
    background-color: #000000;
    margin-bottom: 4%;
}

.ml-5{
    margin-left: 5%;
}
.fw-200{
    font-weight: 200;
}

h3{
    font-size: 22px;
    font-weight: bold;
}

.blueDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
    width: 90%;
    height: 979.48px;
    border-radius: 17px;
    border: 1.5px solid #000000;
    background-color: #C2EDED;
    overflow-y: scroll;
}

.blackLine2 {
    width: 90%;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}
.inTitle{
    margin-left: 5%;
}

.orderContainer{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding-top: 2%;
    margin-bottom: 1%;
    border-top: 2px solid black;
    width: 90%;
}

.pl{
    padding-left: 2%;
}

.bt {
    border-top: 1px solid black;
}
.bb{
    border-bottom: 1px solid black;
}

.theBreakThingy{
    font-size: 25px;
    padding-right: 250px;
}

.totalAndStuff{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid black;
    margin: 0 auto;
}

.totalInsideText{
    width: 50%;
}

.total{
    font-size: 50px;
}
.totalText {
    padding-right: 200px;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.proceedbtn {
    height: 100%;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.proceedbtn:hover {
    background: linear-gradient(to right, #c27dfc 0%, #6e5dcf 80%, #243b67 100%);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: all 0.3s ease;
}