/* Hero Section */

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.HeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.HeroInner {
  width: 30%;
  height: 50%;
}

.HeroText {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
}

.Hero-Title {
  color: #ddd7f2;
  z-index: 1;
  font-size: 130px;
  margin-top: 15%;
  margin-right: 3%;
  font-weight: 500;
  margin-bottom: 2%;
}

.Hero-SubTitle {
  z-index: 1;
  font-size: 40px;
  margin-right: 3%;
  font-weight: 500;
}

.HeroButton {
  background-color: #ddd7f2;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Meet the Baker */

.MeetTheBaker {
  height: 100vh;
  width: 100%;
  background-color: #e0d2f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.BakerImage {
  position: relative;
  width: 50%;
  height: 100%;
}

.ImageContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.BakerImage img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.YellowBackground {
  position: absolute;
  z-index: 0;
  width: 75%;
  border-radius: 60px 60px 0 0;
  height: 75%;
  background-color: #fbe6a8;
  /* Align it behind the baker */
  bottom: 0;
  right: 0;
}

.BakerInner {
  padding-inline: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BakerButton {
  margin-top: 60px;
  background-color: #fbe6a8;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Baker-Title {
  color: black;
  font-size: 75px;
  text-align: left;
}

.BlackLine {
  width: 118px;
  height: 4px;
  background-color: black;
  margin-bottom: 5%;
}

.Baker-Des {
  color: black;
  font-size: 30px;
  font-weight: 250;
}

/* Products Section */

.Products {
  height: 673px;
  width: 100%;
  /* text-align: center;
  justify-content: center; */
}

.InnerProducts {
  width: 89%;
  margin-left: 107px;
  margin-right: 107px;
  /* text-align: center;
  justify-content: center; */
}

.card {
  width: 407px;
  height: 467px;
  color: #ffd6de;
}

.card-img {
  width: 35%;
}

.card-img1 {
}
.card-img2 {
}
.card-img3 {
}
.card-img4 {
}
.card-img5 {
}

.Products div h1 {
  float: left;
  margin-top: 80px;
  font-size: 60px;
  text-align: center;
}

/*
.ProductsLine {
  float: right;
  width: 115px;
  height: 4px;
  background-color: black;
} */

/* Product cards */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ffd6de;
  border-radius: 69px;
  width: 244px;
  height: 280px;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

/* End of Products Section */


@media screen and (max-width: 968px) {

  .Hero-Title {
    font-size: 50px;
    margin-top: 0;
    margin-right: 0;
  }


  .Baker-Title {
    width: 100%;
    color: black;
    font-size:50px;
  }

  .BlackLine {
    width: 118px;
    height: 4px;
    background-color: black;
    margin-bottom: 5%;
  }

  .Baker-Des {
    color: black;
    font-size: 20px;
    font-weight: 250;
  }
}

.my-bullet {
  display: none;
}


/* Special Ocasions code */

.SpecialOcasions {
  height: 100vh;
  width: 100%;
}

.SpecialOcasions h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
}

.SpecialImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-inline: 100px;
}

.Item {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}